* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v58_3 {
  width: 100%;
  height: 1605px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v58_104 {
  width: 206px;
  height: 46px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 596px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_113 {
  width: 118px;
  height: 53px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 99px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_114 {
  width: 49px;
  height: 5px;
  background: rgba(38,32,45,1);
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 121px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_115 {
  width: 69px;
  height: 5px;
  background: rgba(191,161,226,1);
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 121px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_116 {
  width: 49px;
  height: 5px;
  background: rgba(38,32,45,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 121px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_106 {
  width: 206px;
  height: 46px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 845px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_109 {
  width: 170px;
  height: 46px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1324px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_111 {
  width: 114px;
  height: 46px;
  background: rgba(38,32,46,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 1521px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  overflow: hidden;
}
.v58_4 {
  width: 497px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 270px;
  left: 99px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 112px;
  opacity: 1;
  text-align: left;
}
.v58_5 {
  width: 613px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 375px;
  left: 60px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 112px;
  opacity: 1;
  text-align: right;
}
.v58_6 {
  width: 95px;
  height: 96px;
  background: rgba(38,32,46,1);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 160px;
  border-radius: 50%;
}
.v58_7 {
  width: 95px;
  height: 96px;
  background: rgba(38,32,46,0);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 101px;
  border-radius: 50%;
}
.v58_8 {
  width: 95px;
  height: 96px;
  background: rgba(38,32,46,0);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 211px;
  border-radius: 50%;
}
.v58_10 {
  width: 130px;
  height: 36px;
  background: rgba(191,161,226,1);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 247px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  overflow: hidden;
}
.v58_9 {
  width: 382px;
  color: url("../images/v58_9.png");
  position: absolute;
  top: 214px;
  left: 99px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_103 {
  width: 134px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 48px;
  left: 645px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_117 {
  width: 179px;
  color: url("../images/v58_117.png");
  position: absolute;
  top: 49px;
  left: 247px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v58_107 {
  width: 130px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 48px;
  left: 883px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_110 {
  width: 133px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 48px;
  left: 1344px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_112 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 48px;
  left: 1536px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_99 {
  width: 213px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 1130px;
  left: 708px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v58_100 {
  width: 222px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 566px;
  left: 708px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v58_101 {
  width: 151px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 1087px;
  left: 1570px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 22px;
  opacity: 1;
  text-align: left;
  transform: rotate(-90deg);
}
.v58_56 {
  width: 319px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 1216px;
  left: 101px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v58_30 {
  width: 251px;
  height: 226px;
  background: url("../images/v58_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 1362px;
  overflow: hidden;
}
.v58_16 {
  width: 226px;
  height: 226px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v58_18 {
  width: 130px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 15px;
  left: 31px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 62px;
  opacity: 1;
  text-align: left;
}
.v58_19 {
  width: 130px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 44px;
  left: 121px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v58_23 {
  width: 177px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 90px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v58_29 {
  width: 160px;
  height: 28px;
  background: url("../images/v58_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 31px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v58_31 {
  width: 613px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 606px;
  left: 1263px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 59px;
  opacity: 1;
  text-align: left;
}
.v58_32 {
  width: 613px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 780px;
  left: 1263px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v58_46 {
  width: 483px;
  height: 999px;
  background: url("../images/v58_46.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 762px;
  border-top-left-radius: 87px;
  border-top-right-radius: 87px;
  border-bottom-left-radius: 87px;
  border-bottom-right-radius: 87px;
  overflow: hidden;
}
.v58_55 {
  width: 613px;
  color: rgba(38,32,45,1);
  position: absolute;
  top: 999px;
  left: 401px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v58_57 {
  width: 90px;
  height: 3px;
  background: rgba(38,32,45,1);
  opacity: 1;
  position: absolute;
  top: 1187px;
  left: 101px;
  overflow: hidden;
}
.v58_59 {
  width: 100%;
  height: 164px;
  background: rgba(38,32,46,1);
  opacity: 1;
  position: absolute;
  top: 1398px;
  left: 100px;
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
  border-bottom-left-radius: 43px;
  border-bottom-right-radius: 43px;
  overflow: hidden;
}
.v58_54 {
  width: 403px;
  height: 201px;
  background: url("../images/v58_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 994px;
  left: 101px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v58_53 {
  width: 497px;
  height: 331px;
  background: url("../images/v58_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 87px;
  overflow: hidden;
}
.v58_89 {
  width: 278px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1446px;
  left: 160px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}
.v58_90 {
  width: 278px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1446px;
  left: 520px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}
.v58_91 {
  width: 278px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1446px;
  left: 880px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}
.v58_92 {
  width: 178px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1446px;
  left: 1240px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}
.v58_93 {
  width: 278px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1446px;
  left: 1500px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 57px;
  opacity: 1;
  text-align: left;
}
.v58_95 {
  width: 54px;
  height: 54px;
  background: url("../images/v58_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1458px;
  left: 422px;
  overflow: hidden;
}
.v58_96 {
  width: 54px;
  height: 54px;
  background: url("../images/v58_96.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1458px;
  left: 792px;
  overflow: hidden;
}
.v58_97 {
  width: 54px;
  height: 54px;
  background: url("../images/v58_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1458px;
  left: 1152px;
  overflow: hidden;
}
.v58_98 {
  width: 54px;
  height: 54px;
  background: url("../images/v58_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1458px;
  left: 1412px;
  overflow: hidden;
}
.v58_102 {
  width: 48px;
  height: 48px;
  background: rgba(217,217,217,0);
  opacity: 1;
  position: absolute;
  top: 1100px;
  left: 1572px;
  border-radius: 50%;
}
.v58_105 {
  width: 14px;
  height: 14px;
  background: rgba(191,161,226,1);
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 624px;
  border-radius: 50%;
}
